<div class="sidebar">
  <div class="container sidebar-sticky">
    <p class="sidebar-image">
      <a href="/"><img src="/assets/images/profile.jpg" alt="Kevin Ingersoll"></a>
    </p>

    <div class="sidebar-about">
      <h1><a href="/">Hello</a>,</h1>
      <p class="lead">
        I'm <a href="/who">Kevin Ingersoll</a>, a web developer living in the windiest city in the world. This is a place to share my thoughts.
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/index.html' %} active{% endif %}" href="/">Home</a>

      {% for node in site.pages %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | remove:'.html' }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>
